html,body {
    
    font-family: 'Arial', sans-serif;
     background: url('image.jpg') no-repeat center center;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.chat-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    max-height: 500px;
}

.chat-box .user-message {
    text-align: right;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e1f5fe;
    border-radius: 10px;
    max-width: 70%;
    margin-left: auto;
}

.chat-box .bot-message {
    text-align: left;
    color: #007bff;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0f7fa;
    border-radius: 10px;
    max-width: 70%;
    margin-right: auto;
}

form {
    display: flex;
}

form input {
    flex: 1;
    margin-right: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group-append button {
    height: 100%;
}
